body {
  background-image: url("image/WHITE_FLOWERS_BACKGROUND.png");
  background-repeat: no-repeat;
  background-position: 85px top;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
  margin: 0px;
}

p {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}

.CARD {
  background-color: #F7F7FA;
  padding: 25px;
  width: 290px;
}

.PICS {
  margin-bottom: 25px;
}



.HEADLINE {
  display: flex;
  justify-content: center;
  margin-top: 220px;
  margin-bottom: 110px;
  font-weight: 700;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
} 

.SET_CARDS {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 116px;
}


.PRODUCTS {
  margin:0px;
  margin-bottom:5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.DESCRIPTION {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #515076;
  font-size: 13px;
  line-height: 18px;
}

.SKIN {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
}

.COMPOUND_1 {
  margin-top: 15px;
  margin-right: 35px;
}

.COMPOUND_2 {
  margin-top: 5px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.price {
  margin-top: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.price-value {
  font-weight: 400;
  margin-right: 0px;
}

