*,
*::before,
*::after{
  box-sizing: border-box;
}

.style {
  font-weight: 400;
  margin: 0px;
  font-size: 13px;
  line-height: 18px;
}

.colored-button_2 {
  background-color: #0400ff;
}

.colored-button_1 {
  background-color: #00FF00;
}


